<h1 class="full">Morton General Gift Shop</h1>

<% content_for :body_content_title do %>
  <%= t('plugins.refinery_paypal_store.title') %>
<% end %>

<% content_for :body_content_left do %>
  <%= @page[:body] %>

  <% if @products.any? %>
    <% @products.each do |item| %>
      <article class="product_truncated clearfix">
        <div class="img">
          <%= image_tag(item.image.thumbnail('175x175').url) if item.image%>
        </div>
        <div class="details">
          <h3><%= item.name %></h3>
          <span class="price"><%= "$%.2f" % item.price %></span>
          <p><%= item.description %></p>
          <p><%=raw item.paypal_button %>
        </div>
      </article>
    <% end %>

    <%= will_paginate(@products) %>
  <% else %>
    <p><em><%= t('.no_items_yet') %></em></p>
  <% end %>
<% end -%>

<%= render :partial => "/shared/content_page" %>

<script type="text/javascript"> 
  $(function(){
    $('form[target=paypal]').submit(function(){
      alert("Please enter the patient's name at the end of check out.")
      return true
    })
  })
</script>
