<h1 class="full">Morton General Gift Shop</h1>

<% content_for :body_content_title do %>
  <%= t('plugins.refinery_paypal_store.title') %>
<% end %>

<% content_for :body_content_left do %>
  <%= @page[:body] if @products.offset == 0 %>

  <% if @products.any? %>
    <% @products.each do |item| %>
      <article class="product_truncated clearfix">
        <div class="img">
          <%= image_tag(item.image.thumbnail('175x175').url) if item.image%>
        </div>
        <div class="details">
          <h3><%= item.name %></h3>
          <span class="price"><%= item.price %></span>
          <p><%= item.description %></p>
          <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="<%#= raw item.paypal_button %>">
            <input type="image" src="https://www.paypalobjects.com/WEBSCR-640-20110401-1/en_US/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
          </form>
        </div>
      </article>
    <% end %>

    <%= will_paginate(@products) %>
  <% else %>
    <p><em><%= t('.no_items_yet') %></em></p>
  <% end %>
<% end -%>

<%= render :partial => "/shared/content_page" %>
